$bg: #b6d084;
$alt: #f8ffca;
$birthday: #2f7604;
$white: #fff;
$black: #000;
$gray: gray;
$darkblue: #0000ff;
$red: #ff0000;

body {
  background-color: $bg;
  font-family: arial;
  color: black;
  font-size: 14px;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.today {
  color: $birthday;
  font-size: 20px;
  border-left: 4px solid $birthday;
}

pre,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-family: courier;
  font-weight: bold;
  font-size: 20px;
}
h3:first-child {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

tr:nth-child(odd) {
  background-color: $alt;
}

table {
  border-collapse: collapse;
  border: 1px solid $gray;
}
table td {
  padding: 5px 3px;
}

table td:first-child {
  font-weight: bold;
}

.hide {
  opacity: 0;
  display: none;
}

.passedAway {
  opacity: 0.6;
  text-transform: lowercase;
}

.soon {
  color: $darkblue;
  font-size: 12px;
}
.soon span {
  font-style: italic;
}

.upcoming {
  margin: 10px 0;
}

#office {
  table {
    thead {
      tr {
        background-color: $white;
        border-bottom: 1px solid $black;
      }
      th {
        padding: 5px;
      }
    }
    tr,
    td {
      text-align: center;
    }

    .totals {
      border-top: 1px solid $black;
      background-color: $white;
      font-size: 1.1em;
      td {
        padding: 10px;
      }
      > td:last-child {
        font-weight: bold;
        font-size: 1.2em;
        &.good {
          color: $birthday;
        }
        &.bad {
          color: $red;
        }
      }
    }
  }
}
